telethon
sqlalchemy
telethon-session-sqlalchemy
Pillow
PyGithub
aiofiles
aiohttp
aria2p
async_generator
beautifulsoup4
bs4
bwb
cfscrape
coffeehouse
cowpy
cryptg
dnspython
emoji
gTTS-token
gTTS
geopy
gitpython
google-api-python-client
google-auth-oauthlib
google_images_download
googletrans
gsearch
hachoir
heroku3
httplib2
humanize
lxml
lyricsgenius
oauth2client
psycopg2
psycopg2-binary
PyLyrics
pySmartDL
pybase64
pyfiglet
pylast
pymongo
python-barcode
python-dotenv
python-magic
pytube
pytz
qrcode
regex
requests
search-engine-parser
selenium
speedtest-cli
telegraph
tswift
urbandict
wand
wikipedia
youtube-dl
covid
psutil
glitch_this
youtube_search
